th {
  text-align: center;
  vertical-align: middle;
}

tr {
  text-align: center;
  vertical-align: middle;
}

.table-success {
  /* background-color: #d4edda; */
  /* Khuzaimma Changes */
  background-color: #dbdbdb;
  color: #155724;
  color: white;
}


